*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* border: border-box; */
}

.navbar{
    background-color: #0f1111;
    height: 60px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo{
    height: 60px;
    width: 130px;
}

.boundry{
    height: 50px;
    width: 130px;
    position: absolute;
    top: 5px;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

/* address box */

.nav-address{
    padding: 0 8px 8px 5px;
}

.add-first{
    color: #cccccc;
    font-size: 0.60rem;
    margin-left: 20px;
    margin-top: 10px;
}

.add-sec{
    font-size: 0.70rem;
    font-weight: 600;
}

.add-icon{
    display: flex;
    align-items: center;
}

/* Search box */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 850px;
    height: 40px;
    background-color: pink;
    border-radius: 5px;
    /* border: 3px solid transparent; */
}


.search-select{
    width: 60px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    background-color: rgba(255, 192, 203, 0.501);
}

.search-panel{
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
    margin-left: 2px;
}

.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: #0f1111;
    background-color: rgba(153, 205, 50, 0.681);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* 
signin box */

span{
    font-size: 0.75rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-signin{
    padding: 8px;
}
/* 
Cart box */

.cart-logo i{
    font-size: 1.5rem;
}

.cart-logo span{
    font-size: 0.85rem;
    font-weight: 700
}

.cart-logo{
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* nav-all wala navbar */

.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
    font-size: 0.9rem;
}

.panel-ops{
    width: 70%;
    font-weight: 500;
}

.panel-deals{
    font-size: 1rem;
    font-weight: 700;
    margin-right: 50px;
}

/* card */

.cards{
    display: flex;
    overflow-x: auto;
}

.cards::-webkit-scrollbar {
    display: none; 
}

.card{
    height: 440px;
    width: 285px;
    border-radius: 15px;
    margin: 10px;
}

.box-image{
    height: 440px;
    width: 285px;
    background-size: contain;
    border-radius: 15px;
}

.text-box{
    position: relative;
    top: 5px;
    left: 15px;
}

.text-box h1{
    font-size: 1.5rem;
    letter-spacing: -1px;

}

/* window cards */

.windows{
    display: flex;
    flex-wrap: wrap;

}

.window{
    height: 520px;
    width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.345);
    margin: 10px;
    border-radius: 10px;
}

.win-text span{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing:-1px;
}

.win-text{
    position: relative;
    top: 20px;
    left:15px
}

.window-images1{
    display: flex;
    justify-content: space-around;
    margin:30px 5px 55px 5px;
}

.image-text{
    position: relative;
    top: 170px;
    left: 2px;
}

.win-image{
    background-size: cover;
    height: 160px;
    width: 160px;
    border-radius: 5px;
}

/* footer */

.foot-back{
    height: 50px;
    background-color: #37475A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}

.foot-mid{
    background-color: #232F3E;
    height: 300px;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.foot-mid p{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.757);
    margin: 10px;

}
.big{
    font-size: 1rem;
}

.foot-final{
    background-color: #131A22;
    height: 70px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 0.8rem;
}
